
$border-color:#808080;

$primary: #e6e6e6;
$info:#532e1c;
$success: #0e918c;
$warning: #f6830f;
$error: #bb2205;
$dark:#232323;
$light:#e6e6e6;


$whs:100,200,285,300,400,500;//一些较大的尺寸，用于设定width,height等
$mps:5,10,20,30,40,50;//中等尺寸，用于设定margin,padding等
$bds:1,2,3,4,5;//小尺寸，用于设定border等
$per:0,10,20,30,40,50,60,70,80,90,100;//百分比，记得在写mixin时除以100
$fs:12,14,16,18,20,24,28,32,36,48;
$unit:px;//单位，可设定自己习惯使用的单位，如em


$classBg:(w:width,h:height);
$classMd:(p:padding,pl:padding-left,pr:padding-right,pt:padding-top,pb:padding-bottom,m:margin,ml:margin-left,mr:margin-right,mt:margin-top,mb:margin-bottom);
$classSm:(b:border,bl:border-left,br:border-right,bt:border-top,bb:border-bottom);

$colors:(
  Primary: $primary,
  Info:  $info,
  Success: $success,
  Warning: $warning,
  Error: $error,
  Dark: $dark,
  Light: $light,
);
$classColor:(bc:background-color,tc:color,bdc:border-color);


//颜色类
@each $key,$val in $colors{
  @each $key1,$val1 in $classColor{
    .#{$key1}#{$key}{
      #{$val1}: $val
    }
  }
}

//宽高类
@each $i in $whs {
  @each $key,$val in $classBg{
    .#{$key}#{$i}{
     #{$val}:$i
    }
  }
}

//paddings margins
.pa{
  padding: auto;
}
.ma{
  margin: auto;
}
@each $i in $mps {
  @each $key,$val in $classMd{
    .#{$key}#{$i}{
     #{$val}:$i
    }
  }
}
@each $i in $bds {
  @each $key,$val in $classSm{
    .#{$key}#{$i}{
     #{$val}:$i
    }
  }
}


//透明度
@mixin op($i){
  opacity: $i/100;
}
@each $i in $per {
  .op#{$i}{
    @include op($i)
  }
}

//font-sizes
@mixin fs($i) {
  font-size: #{$i}px;
}
@each $i in $fs {
  .fs#{$i}{
    @include fs($i)
  }
}