.bcPrimary {
  background-color: #e6e6e6;
}

.tcPrimary {
  color: #e6e6e6;
}

.bdcPrimary {
  border-color: #e6e6e6;
}

.bcInfo {
  background-color: #532e1c;
}

.tcInfo {
  color: #532e1c;
}

.bdcInfo {
  border-color: #532e1c;
}

.bcSuccess {
  background-color: #0e918c;
}

.tcSuccess {
  color: #0e918c;
}

.bdcSuccess {
  border-color: #0e918c;
}

.bcWarning {
  background-color: #f6830f;
}

.tcWarning {
  color: #f6830f;
}

.bdcWarning {
  border-color: #f6830f;
}

.bcError {
  background-color: #bb2205;
}

.tcError {
  color: #bb2205;
}

.bdcError {
  border-color: #bb2205;
}

.bcDark {
  background-color: #232323;
}

.tcDark {
  color: #232323;
}

.bdcDark {
  border-color: #232323;
}

.bcLight {
  background-color: #e6e6e6;
}

.tcLight {
  color: #e6e6e6;
}

.bdcLight {
  border-color: #e6e6e6;
}

.wfull {
  width: 100%;
}

.hfull {
  height: 100%;
}

.w100 {
  width: 100px;
}

.h100 {
  height: 100px;
}

.w200 {
  width: 200px;
}

.h200 {
  height: 200px;
}

.w285 {
  width: 285px;
}

.h285 {
  height: 285px;
}

.w300 {
  width: 300px;
}

.h300 {
  height: 300px;
}

.w400 {
  width: 400px;
}

.h400 {
  height: 400px;
}

.w500 {
  width: 500px;
}

.h500 {
  height: 500px;
}

.pa {
  padding: auto;
}

.ma {
  margin: auto;
}

.p5 {
  padding: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.m5 {
  margin: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.zi5 {
  z-index: 5px;
}

.p10 {
  padding: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.m10 {
  margin: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.zi10 {
  z-index: 10px;
}

.p20 {
  padding: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.m20 {
  margin: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.zi20 {
  z-index: 20px;
}

.p30 {
  padding: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.m30 {
  margin: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.zi30 {
  z-index: 30px;
}

.p40 {
  padding: 40px;
}

.pl40 {
  padding-left: 40px;
}

.pr40 {
  padding-right: 40px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.m40 {
  margin: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.zi40 {
  z-index: 40px;
}

.p50 {
  padding: 50px;
}

.pl50 {
  padding-left: 50px;
}

.pr50 {
  padding-right: 50px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.m50 {
  margin: 50px;
}

.ml50 {
  margin-left: 50px;
}

.mr50 {
  margin-right: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.zi50 {
  z-index: 50px;
}

.b1 {
  border: 1px solid #808080;
}

.bl1 {
  border-left: 1px solid #808080;
}

.br1 {
  border-right: 1px solid #808080;
}

.bt1 {
  border-top: 1px solid #808080;
}

.bb1 {
  border-bottom: 1px solid #808080;
}

.b2 {
  border: 2px solid #808080;
}

.bl2 {
  border-left: 2px solid #808080;
}

.br2 {
  border-right: 2px solid #808080;
}

.bt2 {
  border-top: 2px solid #808080;
}

.bb2 {
  border-bottom: 2px solid #808080;
}

.b3 {
  border: 3px solid #808080;
}

.bl3 {
  border-left: 3px solid #808080;
}

.br3 {
  border-right: 3px solid #808080;
}

.bt3 {
  border-top: 3px solid #808080;
}

.bb3 {
  border-bottom: 3px solid #808080;
}

.b4 {
  border: 4px solid #808080;
}

.bl4 {
  border-left: 4px solid #808080;
}

.br4 {
  border-right: 4px solid #808080;
}

.bt4 {
  border-top: 4px solid #808080;
}

.bb4 {
  border-bottom: 4px solid #808080;
}

.b5 {
  border: 5px solid #808080;
}

.bl5 {
  border-left: 5px solid #808080;
}

.br5 {
  border-right: 5px solid #808080;
}

.bt5 {
  border-top: 5px solid #808080;
}

.bb5 {
  border-bottom: 5px solid #808080;
}

.op0 {
  opacity: 0;
}

.bdr0 {
  border-radius: 0;
}

.op5 {
  opacity: 0.05;
}

.bdr5 {
  border-radius: 0.05;
}

.op10 {
  opacity: 0.1;
}

.bdr10 {
  border-radius: 0.1;
}

.op20 {
  opacity: 0.2;
}

.bdr20 {
  border-radius: 0.2;
}

.op30 {
  opacity: 0.3;
}

.bdr30 {
  border-radius: 0.3;
}

.op40 {
  opacity: 0.4;
}

.bdr40 {
  border-radius: 0.4;
}

.op50 {
  opacity: 0.5;
}

.bdr50 {
  border-radius: 0.5;
}

.op60 {
  opacity: 0.6;
}

.bdr60 {
  border-radius: 0.6;
}

.op70 {
  opacity: 0.7;
}

.bdr70 {
  border-radius: 0.7;
}

.op80 {
  opacity: 0.8;
}

.bdr80 {
  border-radius: 0.8;
}

.op90 {
  opacity: 0.9;
}

.bdr90 {
  border-radius: 0.9;
}

.op100 {
  opacity: 1;
}

.bdr100 {
  border-radius: 1;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs24 {
  font-size: 24px;
}

.fs28 {
  font-size: 28px;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
}

.fs48 {
  font-size: 48px;
}

.fwb {
  font-weight: bold;
}

.fwl {
  font-weight: lighter;
}

.flxR {
  display: flex;
  flex-direction: row;
}

.flxC {
  display: flex;
  flex-direction: column;
}

.aiC {
  align-items: center;
}

.jcC {
  justify-content: center;
}

.aiSA {
  align-items: space-around;
}

.jcSA {
  justify-content: space-around;
}

.aiSE {
  align-items: space-evenly;
}

.jcSE {
  justify-content: space-evenly;
}

.aiSB {
  align-items: space-between;
}

.jcSB {
  justify-content: space-between;
}

.aiS {
  align-items: flex-start;
}

.jcS {
  justify-content: flex-start;
}

.aiE {
  align-items: flex-end;
}

.jcE {
  justify-content: flex-end;
}

.fl1 {
  flex: 1;
}

.fl2 {
  flex: 2;
}

.fl3 {
  flex: 3;
}

.fl4 {
  flex: 4;
}

.fl5 {
  flex: 5;
}

.sc0 {
  transform: scale(0);
}

.sc5 {
  transform: scale(0.05);
}

.sc10 {
  transform: scale(0.1);
}

.sc20 {
  transform: scale(0.2);
}

.sc30 {
  transform: scale(0.3);
}

.sc40 {
  transform: scale(0.4);
}

.sc50 {
  transform: scale(0.5);
}

.sc60 {
  transform: scale(0.6);
}

.sc70 {
  transform: scale(0.7);
}

.sc80 {
  transform: scale(0.8);
}

.sc90 {
  transform: scale(0.9);
}

.sc100 {
  transform: scale(1);
}
